{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="{% static 'css/style-advisor-info.css' %}">  {% endcomment %}
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-advisors.css' %}">
    <title>Expert Advisor Reviews</title>

<style>

  #comment-input {
    background-color: black; 
    color: white;      
  }

  #comment-input::placeholder {
    color: white;       
  }
  body {
    color: white;
  }
  #comments, card-body, card {
    background: #25252b;
    color: #25252b;
    background-color: #25252b;
  }
  .messages {
    color: black;
  }

  /* Style for the textarea when it's visible */
  #comment-input { 
     opacity: 1;  
     transition: opacity 0.5s ease-out; 
  }
  
</style>
</head>
<body>
  <header class="container mt-4">       
    <div class="text-center">
        <h1><a href="{% url 'advisors' %}"><img src="{% static 'images/back-button.png'%}" alt="" height="40px" width="30px"></a> Expert Advisor: <span id="ea-name">{{advisor.ea_name}}</span></h1> 
    </div>
    <div class="">
    <p class="position-absolute top-0 end-0 m-1">Username: <span id="username">{{username}}</span></p> 
    </div>
  </header>

<section id="add-comment" class="container mt-4 text-center">
  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="no_review">
    <label class="form-check-label" for="flexSwitchCheckDefault">I have no review</label>
  </div>
  <textarea rows=5 id="comment-input" name="comment" class="form-control" placeholder="Write your review here..."></textarea>
  
  <br>
  
  {% if admin %}
  <input type="text" id="comment-input" name="link" class="form-control" placeholder="Add link...(optional)">
  <br>
  {% endif %}
  <div class="form-group">
    <label for="images">Images (Optional, Max 3 Images, 1 mb each):</label>
    <input type="file" id="images" name="images" multiple accept="image/*">
  </div>

  <div class="form-group">
    <label for="zip_file">Zip File (Optional, Max 1 zip file, 5 mb):</label>
    <input type="file" id="zip_file" name="zip_file" accept=".zip">
  </div>
  <button type="submit" class="btn btn-dark mt-3 text-center">Submit Review</button> 
  </form>
</section>

<section class="container mt-4 text-center">
  <h1>Links:</h1>
  <ul>
      {% for link in links %}
          <li>
              <a href="{{link}}" target="_blank">{{ link }}</a>
          </li>
      {% endfor %}
  </ul>
  </section>


<section class="container mt-4 text-center">
<h1>Available Files:</h1>
<ul>
    {% for file, creation_time in files %}
        <li>
            <a href="{% url 'download' ea_name=clean_ea_name filename=file %}">{{ file }} - Created on {{creation_time}}</a>
        </li>
    {% endfor %}
</ul>
</section>

<section id="comments" class="container mt-4"> 
    <h2>Reviews</h2>
    {% for review in reviews|dictsortreversed:"posted_date" %}
    <div class="border-left border-light" id="randomized"> 
            <p class="text-muted mb-1">{{username}} | {{review.posted_date}}</p> 
            <p>{{review.comment}}</p>
    </div>
    <br>
    {% endfor %}
    {% if advisor.personal_review %}
    <div class="border-left border-light" id="randomized"> 
          <p class="text-muted mb-1">{{advisor.created_by}} | {{advisor.last_updated}}</p> 
          <p>{{advisor.personal_review}}</p>
    {% endif %}      
  </div>
</section>


<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="body-default">
        <div class="messages">
          {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" id="buttons-default">
          <button type="button"
                  class="btn btn-lg btn-outline-danger"
                  >Understood
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


</body>

<script>
// Select the container
const container = document.querySelectorAll("#randomized"); 

// Select all the content elements inside the container (you'll need to adjust your selector here if necessary)

// Function to generate a random margin
function getRandomMargin() {
  return Math.floor(Math.random() * 4) + 2; // Generates numbers between 2 and 5
}
console.log(container)

container.forEach((container) => {
  const randomMargin = getRandomMargin();
  container.classList.add(`p-${randomMargin}`); 
});

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
crossorigin="anonymous"
></script>
<script src="{% static 'js/iosmodal.js' %}"></script>
<script>
function iosStyle () {
  const mbody = document.getElementById('body-default').innerHTML;
  const buttons = [
    {
      type: 'button',
      class: 'btn btn-lg btn-outline-danger',
      innerHTML: 'Understood',
      onclick: () => iOSModal.hide()
    }
  ];
  iOSModal.show(mbody, buttons);
}
window.addEventListener('DOMContentLoaded', () => { 
    // Check if any error messages exist within the 'messages' list
    if (document.querySelector('.messages li.error')) { 
        iosStyle(); // Call your JavaScript function
    }
});

$(document).ready(function() {
  $('#flexSwitchCheckDefault').change(function() {
      if (this.checked) { 
          $('#comment-input').remove();  // Remove when checkbox is checked
      } else {
          // Re-insert the textarea if you want it to reappear
          $('.form-check.form-switch').after('<textarea rows=5 id="comment-input" name="comment" class="form-control" placeholder="Write your review here..."></textarea>');
      }
  });
});


</script>

</html>
