{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CyberFX Advisor Insights</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style-advisors.css' %}">

  <style>
    #livesearch {
      background-color: black; 
      color: white;      
    }

    #livesearch::placeholder {
      color: white;       
    }

    body {
      color: white;
    }
  </style>

</head>

<body>
<div class="container mt-3 d-flex justify-content-between">
  <a href="{% url 'login_function' %}"><img src="{% static 'images/back-button.png'%}" alt="" height="45px" width="45px"></a>
  <input type="text" id="livesearch" class="form-control mb-3" placeholder="Search"/>
</div>
    {% comment %} <div class="container-fluid page-body-wrapper">
      <div class="main-panel">                

        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">                  
                <div class="card-body">
                  <h4 class="card-title text-center">Advisors <a href="#" class="btn border-success rounded-pill">add new</a></h4>        
                  <div class="d-flex justify-content-center">
                    <button class="btn border-danger me-3 category-button padding mr-5", value="Trash">Trash</button>
                    <button class="btn border-warning me-3 category-button mr-5" value="Testing">Testing</button>
                    <button class="btn border-success category-button" value="Good">Good</button>
                  </div>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            #
                          </th>
                          <th>
                            EA
                          </th>
                          <th>
                            Cyberspyde Review
                          </th>
                          <th>
                            Last updated
                          </th>
                        </tr>
                      </thead>
                      <tbody id="box">
                      {% for item in advisors %}
                        <tr>
                          <td>
                            {{item.id}}
                          </td>
                          <td>
                            <a href="{% url 'advisor_info' item.id %}">{{item.ea_name}}</a>
                          </td>
                          <td>
                            {{item.personal_review}}
                        
                          </td>
                          <td>
                            {{item.last_updated}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  </div> {% endcomment %}

<h4 class="card-title text-center">Advisors <a href="#" class="btn btn-dark border-success rounded-pill">add new</a></h4>        
<div class="d-flex justify-content-center">
  <button class="btn btn-dark border-danger me-3 category-button padding mr-5", value="Trash">Trash</button>
  <button class="btn btn-dark border-warning me-3 category-button mr-5" value="Testing">Testing</button>
  <button class="btn btn-dark border-success category-button" value="Good">Good</button>
</div>
<div class="table-responsive custom-table-responsive">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          EA
        </th>
        <th>
          Cyberspyde Review
        </th>
        <th>
          Last updated
        </th>
      </tr>
    </thead>
    <tbody id="box">
      {% for item in advisors %}
        <tr>
          <td>
            {{item.id}}
          </td>
          <td>
            <a href="{% url 'advisor_info' item.id %}"><u>{{item.ea_name}}</u></a>
          </td>
          <td>
            {{item.personal_review}}
        
          </td>
          <td>
            {{item.last_updated}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  {% comment %} <script src="{% static 'js/index.umd.js' %}"></script> {% endcomment %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="{% static 'js/main-advisors.js' %}"></script>

<script>
  const buttons = document.querySelectorAll('.category-button');
  buttons.forEach(button => {
      button.addEventListener('click', function() {
          const category = this.value; // Get category
            fetch(`/cyberfx/search-category/${category}`) 
              .then(response => response.json())
              .then(data => {
                box.innerHTML = ""; 
                if (data.length > 0) {
                    data.forEach(advisor => {
                        box.innerHTML += 
                        `  
                        <tr>
                        <td>
                        ${advisor.id}
                        </td>
                        <td>
                        <a href="http://localhost:8000/cyberfx/advisor-info/${advisor.id}">${advisor.ea_name}</a>
                        </td>
                        <td>
                        ${advisor.personal_review}
                        </td>
                        <td>
                        ${advisor.last_updated}
                        </td>
                        </tr>
                        `;
                    });
                } else {
                    box.innerHTML = "<b>No results found...</b>";
                }
              })
          });
      });
</script>

<script>
document.getElementById('livesearch').addEventListener('keyup', (e) => {
  const searchTerm = e.target.value;
  searchTimeout = setTimeout(() => {
    fetch(`/cyberfx/search-advisors/?term=${searchTerm}`) 
    .then(response => response.json())
    .then(data => {
      box.innerHTML = ""; 
      if (data.length > 0) {
          data.forEach(advisor => {
              box.innerHTML += 
              `  
              <tr>
              <td>
              ${advisor.id}
              </td>
              <td>
              <a href="http://localhost:8000/cyberfx/advisor-info/${advisor.id}">${advisor.ea_name}</a>
              </td>
              <td>
              ${advisor.personal_review}
              </td>
              <td>
              ${advisor.last_updated}
              </td>
              </tr>
              `;
          });
      } else {
          box.innerHTML = "<b>No results found...</b>";
      }
    })
  });

}, 500);
</script>


</body>
</html>
